body{
    background-color: beige;
}


.phone{
    background: rgb(88, 88, 88);
    width: 300px;
    height: 570px;
    border-radius: 40px;
    margin: auto;
}

#board, .boardInfo{
    width: 250px;
    
    
}
#board{
    padding: 27px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
#star, .boardInfo{
    margin-left: 30px;
    font-size: 20px;
    
}
#gameOver{
    font-size:30px ;
    background-color: red;
    margin-top: 10px;
    text-align: center;
    display: none;
}
.boardInfo{
    display: flex;
    justify-content: space-between;
    
   
}
#start{
    
    background-color: rgb(255, 145, 0);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
#scoreBoard{
    display: inline-flex;
}
.square{
    aspect-ratio: 1;
}
.emptySquare{
    background-color: greenyellow;
}
.snakeSquare{
    background-color: rgb(78, 77, 77);
}
.foodSquare{
    background-color: rgb(255, 38, 0);
}
.button1{
    width: 60px;
    height: 30px;
    margin-top: 15px;
    margin-left: 30px;
    border: none;
    border-radius: 20px;   
    background: rgb(192, 192, 192);
   
}
.button0{
    width: 60px;
    height: 30px;
    margin-left: 124px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;   
    background: rgb(192, 192, 192);
}